<div class="image_wrapper">
	<%= image_tag 'dewey3.png' %>
</div>

<div class="large-9 columns large-centered">
	<p>
		The personal page of Ninja/Healer Dewey Nielsen. This was a long maintained blog in Wordpress, that we revived in rails 4, giving it a more modern sleek look. We also exported all of Deweys old Blog posts from Wordpress over to Heroku with Amazon S3 for hosting his pictures.
	</p>

  <%= link_to 'Dewey Nielsen', 'http://dewey-impact.herokuapp.com/' %>
</div>
<hr />




<div class="image_wrapper">
	<%= image_tag 'fitment3.png' %>
</div>

<div class="large-9 columns large-centered">
	<p>
		An clean and minimal e-commerce site written in rails 3. It uses Paypal's API for payments, features full-text search with the use of Solr, and a responsive design. 
	</p>
  <%= link_to 'Fitment Garage', 'http://www.fitmentgarage.com/' %>
</div>
<hr />



<div class="image_wrapper">
	<%= image_tag 'bumble3.png' %>
</div>

<div class="large-9 columns large-centered">
	<p>
		A Blog/E-Commerce site for the Bumble About Honey company. Both selling local Honey and honey accessories, it also keeps track of all the events put on by Bumble about, and the personal blogs of the employees.
	</p>
</div>
<hr />


<div class="image_wrapper">
	<%= image_tag 'patrick3.png' %>
</div>

<div class="large-9 columns large-centered">
	<p>
		Personal Website/Portfolio/Blog/Webstore of local Portland Photographer Patrick Aalto.
	</p>
  <%= link_to 'Aalto Photgraphy', 'http://www.aaltophotography.com/' %>
</div>
<hr />


<div class="image_wrapper">
	<%= image_tag 'ignition3.png' %>
</div>

<div class="large-9 columns large-centered">
	<p>
		A Project Management SaaS Web App, for helping freelance designers keep track of all of their clients, invoices, projects, quotes etc. It uses Braintree's Transparent Re-direct for payments, and keeps users connected to clients not using the email, having email in the app also responding to outside users and emails, and letting those outside users reply in email for users in Ignition. But when they sign up all of their previous conversations are instantly found for you.
	</p>
</div>


